.main {
   position: relative; 
}

.main--description{
    padding: 30px 15px 45px;
    height: 376px;
    background-color: $white;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    & h6{
        margin-top: 0;
        @include category();
    }
 
    & h2{
        @include header-section---mobile();
        text-transform: capitalize;
    }

    & p{
        @include paragraph---mobile();
    }

    .main--description-btn{
        height: 45px;
        width: 76px;
        border-radius: 22.5px;
        border: solid 2px $bright-orange;
        text-align: center;
        vertical-align: middle;

        & a{
            @include button-text---mobile();
            text-decoration: none;
        }

        @media all and (min-width: 768px){
            width: 91px;  
        }
    }

    @media all and (min-width: 768px){
      height: 330px;
      padding: 30px 39px 45px;  
    }
}

.main--reasons{
    height: 624px;
    background-color: $light-blue;
    padding: 30px 15px 60px 15px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
    @media all and (min-width: 768px){
        height: 397px;
    }

    & h2{
        @include header-section---mobile();
        text-transform: capitalize;
        text-align: center;
        margin-top: 0;
        margin-bottom:45px
        // mirar como se puede hacer esto con nth-last-child
    }

    .main--reasons-grid{
        width: 180px;
        padding: 0 ;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;

        @media all and (min-width: 768px){
            width: 213px;
            display: grid;
            grid-template-columns: 213px 213px 213px;
            grid-template-rows: 1fr 45px; 
            grid-gap: 60px 30px;
            // no consigo que se sitúe en el centro bien, sin truco
            transform: translateX(-110%);

            & .main--reasons-grid4{
                grid-row: 2 / 3;
                grid-column: 2 / 3;
                transform: translateY(-50%);
            }
        }

        & li{
            list-style: none;
            text-align: center;
            margin-bottom: 45px;

            @media all and (min-width: 768px){
                
            }

            & h3{
                margin:0;
            }

            & p{
                margin: 0;
            }

            .main--reasons-btn{
                width: 184px;
                height: 45px;
                border-radius: 22.5px;
                background-color: $bright-orange;
                @include button-text---white();
                // falta situar el texto en el centro con una general de -btn-text
                transform: translateY(100%);
            }

        }
    }
}

.main--up {
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 3;
    top: 978px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    @media all and (min-width: 768px){
        top: 727px;
        transform: translate(-50%, -50%);
    }

    .main--upbtn{
        width: 20.6px;
        height: 24px;
    }
}



