@import 'core/variables';
@import 'core/mixins';
@import url(https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab);
@import 'layout/header';
@import 'layout/footer';
@import 'pages/home';

body {
	background: $white;
	height: 100vh;
	margin: 0px;
}

*{
	box-sizing: border-box;
}
