<main class="main">
    <div class="main--description">
        <h6>Insomnia tips</h6>
        <h2>Looking through a window</h2>
        <p>Donec accumusan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
        <div class="btn main--description-btn"><a href="btn-text" class="">Go</a></div>
    </div>
    <div class="main--reasons">
        <h2>3 reasons to purchase</h2>
        <ul class="main--reasons-grid">
            <li class="main--reasons-grid1">
                <h3>Ut sed metus</h3>
                <p>Lorem ipsum dolor sit amet, consecteur.</p>
            </li>
            <li class="main--reasons-grid2">
                <h3>Curabitur ac erat</h3>
                <p>Mauris mattis urna quis lorem molestie.</p>
            </li>
            <li class="main--reasons-grid3">
                <h3>Morbi dictum</h3>
                <p>Aliquam in dolor et dolor tincidunt.</p>
            </li>
        </ul>
        <div class="main--reasons-grid4"><button class="btn main--reasons-btn">More reasons</button></div>
    </div>
    <div class="main--up">
        <a href="" class="btn main--upbtn"><img src="../assets/images/ico-arrow.svg"></a>
    </div>
</main>
