
.hero{
    background: url("../images/cover.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0 15px;
    position: relative;
    
    .hero--text {
        width: 290px;
        position: absolute;
        bottom: 143px;
        left: 50%;
        transform: translateX(-50%);

        @media all and (min-width: 768px){
            width: 600px;
        }

        @media all and (min-width: 1280px){
            width: 700px;
        }

        & h1{
            @include text-style();
            color: $white;
            text-transform: uppercase;
            text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);

            @media all and (min-width: 768px){
                @include main-header---tablet();
            }

            @media all and (min-width: 1280px){
                @include main-header---desktop();
                margin: 0;
            }
        }

        & p{
            @include category---desktop();
            line-height: normal;
            color: $white;
            text-align: center;
            margin: 0;

            @media all and (min-width: 768px){
                @include paragraph-hero();
            } 
        }
    }

    .hero--btn {
        height: 45px;
        width: 45px;
        background-color: $white;
        border-radius: 50%;
        position: absolute;
        bottom: 53px;
        left: 50%;
        transform: translateX(-50%);

        .hero--btn-img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}