.menu--btn{
    position: absolute;
    z-index: 2;
    width: 44px;
    height: 44px;
    padding: 0;
    border: 0;
    outline: 0;
    background: url("../images/ico-menu.svg") center no-repeat $cerulean;
}
